Repository googleapis/nodejs-memcache, pull requests merged in 2020-11, with the labels that each got.

#75 build(node): add KOKORO_BUILD_ARTIFACTS_SUBDIR to env
  .kokoro/trampoline_v2.sh
  synth.metadata
Labels: api: memcache, automerge, cla: yes, context: full

#76 fix: do not modify options object, use defaultScopes
  package.json
  src/index.ts
  src/v1beta2/cloud_memcache_client.ts
  synth.metadata
  system-test/fixtures/sample/src/index.ts
  system-test/install.ts
Labels: api: memcache, automerge, cla: yes

#78 fix(browser): check for fetch on window
  protos/protos.json
  src/v1beta2/cloud_memcache_client.ts
  synth.metadata
Labels: api: memcache, cla: yes, context: none

#80 docs: spelling correction for "targetting"
  README.md
  synth.metadata
Labels: api: memcache, automerge, cla: yes, context: full
